{% extends "layout.html" %}
{% block content %}
  <h2 class="mb-6 text-xl font-semibold">{{ title }}</h2>
  {% set messages = get_flashed_messages(with_categories=True) %}
  {% include 'messages.html' %}
  {% if events %}
    <table class="min-w-full overflow-hidden rounded-lg bg-white shadow-md">
      <thead class="bg-emerald-600 text-white">
        <tr>
          <th class="p-3 text-left text-sm font-semibold">Дата</th>
          <th class="p-3 text-left text-sm font-semibold">Турнир</th>
          <th class="p-3 text-left text-sm font-semibold">Хозяева</th>
          <th class="p-3 text-left text-sm font-semibold">Счет</th>
          <th class="p-3 text-left text-sm font-semibold">Гости</th>
          {% if show_fav %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="text-gray-700">
        {% for event in events %}
          <tr class="border-b hover:bg-gray-100">
            <td class="p-3">{{ event.datetime }}</td>
            <td class="p-3">{{ event.tournament }}</td>
            <td class="p-3">{{ event.home_team }}</td>
            <td class="p-3">{{ event.score }}</td>
            <td class="p-3">{{ event.guest_team }}</td>
            {% if show_fav %}
              <td class="p-3">
                {% if 'is_favorite' in event %}
                  <form
                    class="leading-[normal]"
                    action="{{ url_for('change_fav_list', event_id=event.id, next=request.path) }}"
                    method="post"
                  >
                    {% if event.is_favorite %}
                      <input type="hidden" name="_method" value="DELETE" />
                      <button
                        class="group relative h-6 w-6 cursor-pointer"
                        type="submit"
                      >
                        <svg
                          class="absolute inset-0 h-6 w-6 cursor-pointer text-amber-500 group-hover:hidden"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                          />
                        </svg>
                        <svg
                          class="absolute inset-0 hidden h-6 w-6 cursor-pointer text-amber-500 group-hover:block"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="m13.001 19.927 2.896 1.773c1.52.93 3.405-.442 2.992-2.179l-1.06-4.452 3.468-2.978c1.353-1.162.633-3.382-1.142-3.525L15.603 8.2l-1.754-4.226A1.973 1.973 0 0 0 13 3v16.927ZM10.999 3c-.36.205-.663.53-.848.974L8.397 8.2l-4.552.366c-1.775.143-2.495 2.363-1.142 3.525l3.468 2.978-1.06 4.452c-.413 1.737 1.472 3.11 2.992 2.178l2.896-1.773V3Z"
                          />
                        </svg>
                      </button>
                    {% else %}
                      <button
                        class="group relative h-6 w-6 cursor-pointer"
                        type="submit"
                      >
                        <svg
                          class="absolute inset-0 h-6 w-6 cursor-pointer text-amber-500 group-hover:hidden"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-width="2"
                            d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"
                          />
                        </svg>
                        <svg
                          class="absolute inset-0 hidden h-6 w-6 cursor-pointer text-amber-500 group-hover:block"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                          />
                        </svg>
                      </button>
                    {% endif %}
                  </form>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="rounded-lg bg-gray-50 p-4 text-sm text-gray-800" role="alert">
      Список событий пока пуст
    </div>
  {% endif %}
{% endblock %}
