{% extends 'layout.html' %}

{% block content %}
  <div class="flex items-center justify-center">
    <div class="max-w-md rounded-lg p-6 text-center shadow-lg">
      <h1 class="mb-2 text-2xl">Ошибка 404</h1>
      <p class="mb-4 text-xl text-gray-700">Упс! Страница не найдена :(</p>
      <p class="mb-6 text-lg text-gray-500">
        Похоже, вы перешли по неверной ссылке или страница была удалена.
      </p>
      <a
        href="{{ url_for('main') }}"
        class="rounded-lg bg-emerald-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-emerald-700"
      >
        На главную
      </a>
    </div>
  </div>
{% endblock %}
